body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
main {
    width: 80%;
    margin: 0 auto;
}
h1 {
    padding-bottom: 1.5rem;
}
footer {
    padding-top:  1.5rem;
    /* width: 50%;
    margin: 0 auto; */
    text-align: center;
}